.setup-section {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
    border-bottom: 2px solid #cb3f3f;
    border-radius: 10px;
  }
  
  .setup-header h2 {
    font-size: 15px;
    color: #e63946;
    margin-bottom: 20px;
    
  }
  .tag{
    border: 2px solid black;
    padding: 10px;
  }
  .sub{
    color: black;
    font-size: 15px;
  }
  .setup-header p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
  }
  